Package: daniel.trustevaluator
Name: TrustEvaluator
Author: daniel
Description: Allow installing unsigned profiles with the ability to write global defaults.
Depends: mobilesubstrate
Maintainer: daniel
Architecture: iphoneos-arm
Section: Tweaks
Version: 0.0.1
